@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .authContainer {
        width: 35%;
        margin: auto;
    }
    
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form method="post" asp-action="Login">
    <div class="authContainer">
        @if (TempData["LoginError"] != null)
        {
            <div class="mb-3 alert alert-warning alert-dismissible fade show" role="alert">
                <strong>О нет!</strong> @TempData["LoginError"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input">
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

