@model RegistrationViewModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .authContainer {
        width: 35%;
        margin: auto;
    }
</style>

<form method="post" asp-action="RegisterUser" >
    <div class="authContainer"  >
        <legend> Регистрация </legend>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-4" style="text-align-last: center;">
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </div>
    </div>
</form>
