@model ProductsViewModel
@{
	ViewData["Title"] = "NewProduct";
}

<style>
	body {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		background: #f7f7ff;
	}

	.card-body {
		min-height: 1px;
	}

	ul.row {
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 0 solid transparent;
		border-radius: .25rem;
		margin-bottom: 1.5rem;
		box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
	}
</style>
<div class="container">
	<div class="main-body">
		<div class="row justify-content-center">
			<div class="col-lg-6   ">
				@if (TempData["UploadPhotoError"] != null)
			{
				<div class="row">
					<div class="col-sm-12">
						<div class=" mb-3 alert alert-warning alert-dismissible fade show" role="alert">
							<strong>О нет!</strong> @TempData["UploadPhotoError"]
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
				</div>
			}
				<div class="card">
					<div class="card-body">
						<form method="post" asp-controller="User" asp-action="NewProduct" enctype="multipart/form-data">
							<div class="row mb-4">
								<label asp-for="Name" class="col-sm-3 col-form-label"></label>
								<div class="col-sm-9">
									<input asp-for="Name" type="text" class="form-control" placeholder="Введите название товара">
								</div>
							</div>
							<div class="row mb-4">
								<label asp-for="Quantity" class="col-sm-3 col-form-label"></label>
								<div class="col-sm-9">
									<input asp-for="Quantity" type="text" class="form-control" placeholder="">
								</div>
							</div>
							<div class="row mb-4">
								<label asp-for="Description" class="col-sm-3 col-form-label"></label>
								<div class="col-sm-9">
									<textarea asp-for="Description" class="form-control">
								</textarea>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col-sm-3">
									<label class="mb-0 h6">Фото</label>
								</div>
								<div class="col-sm-9 text-secondary">
									<input asp-for="IFormFile"  class="form-control" type="file">
								</div>
							</div>

							<div class="row mb-4">
								<label asp-for="Category"  class="col-sm-3 col-form-label"></label>
								<div class="col-sm-9">
									<select asp-for="Category" class="form-select" size="4">
										<option value="1" >Хлебобулочные изделия</option>
										<option value="2">Крупы</option>
										<option value="3">Молочные продукты </option>
										<option value="4">Фрукты </option>
										<option value="6">Овощи </option>
										<option value="7">Мясо </option>
										<option value="8">Морепродукты </option>
										<option value="9">Кондитерские изделия </option>
										<option value="10">Полуфабрикаты </option>
									</select>
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-sm-9">
									<button class="btn btn-primary" onclick="location.href='@Url.Action("AddProduct", "User")'">Add product</button>
									<button type="reset" class="btn btn-outline-danger">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

